@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --unicorn: linear-gradient(to top right, #C37A90 0%, #C7B8D4 25%, #C7B8D4 50%, #F1B9BB 75%, #DAA88E 100%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body, html {
  background-color: #000000;
  overflow-x: hidden;
}

*, *::before, *::after {
  box-sizing: border-box;
}